---
import Navigation from "../components/Navigation.astro"
import '../styles/global.css';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
<Navigation/>

		<h1>Astro</h1>
		<p>This is my first astro page:!</p>
       <div>
		<h3>This blog contains {allPosts.length} posts</h3>
		<pre>

			{allPosts.map(p=>(JSON.stringify(p,null,2)))}
		</pre>
	   </div>
	</body>
</html>
